.header__link {
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.header__link:hover {
  opacity: .5;
}