.login__link {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;

  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.login__link:hover {
  opacity: .5;
}