.elements__title {
  margin: 0 62px 0 20px;
  padding: 0;
  font-family:  'Inter', 'Arial', sans-serif;
  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  line-height: 79px;
  font-weight: 900;
}